.bannerInicio{
    background-image: url('../images/rocket3.png');
    background:cover;
    height:100%;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;


}

.float-login {
    display: block;
    z-index: 100;
    opacity: 0.8;
    -moz-opacity: 0.8;
}

.div-carousel-img{
    background-image: url('../images/taqueria.jpg');
    background-size: auto;
}
@media screen and (min-width: 475px) {
    .divLogin{
        width: 80%;
    }
    .imagenLogin{
        height: 12%;
        width: 13%;
        background-color: black;
        border-radius: 6pt;
    }
    .form-horizontal .navbar-form .form-control{
        min-widht:80%
    }
    .bannerInicio{
        background-image: url('../images/rocket3.png');
        background:cover;
        height:100%;
        background-repeat: no-repeat;
        padding-top: 10%;
        padding-bottom: 10%;


    }

}

.divLogin{
    width: 100%;

}
.imagenLogin{
    height: 40px;
    width: 40px;
    background-color: black;
    border-radius: 6pt;
}